
back-end/syntactic-iadt-year-4-fb-firebase-adminsdk-auth.json
.DS_Store
syntactic-front-end-redux/.env
syntactic-front-end-redux/.prettierrc
syntactic-front-end-redux/src/App.css
back-end/google-credentials.json
