.chat-list {
    margin-bottom: 7rem;
    
    .message {
        .badge {
            padding: 1rem 1.5rem;
            font-weight: 400;
            font-size: initial;
        }
    }
}

.chat-input {
    position: fixed;
    bottom: 0;
    left: 15rem;
    right: 0;
    width: 60%;
    margin: 0 auto;
}