.datatable {
    border: 1px solid $card-border-color;
    box-shadow: 1px 2px 2px 0px rgba(23, 43, 77, 0.05);
    border-radius: $card-border-radius;
    margin-bottom: $spacer-lg;

    .rdt_TableHeadRow {
        background-color: lighten($body-bg, 1.5%);
        text-transform: uppercase;
        font-weight: 600;

        .sc-fzpans {
            margin-left: $spacer/2;
        }
    }

    .cDNjcb .dropdown {
        overflow: initial;
        position: absolute;
        right: 20px;
    }

    .cGezUg div:first-child {
        overflow: visible !important;
    }

    .dGqwdB {
        border-top-color: $card-border-color;
    }

    .status {
        padding: $spacer/3 $spacer;
    }

    .hirIJV:hover {
        background-color: $body-bg;
        border-color: $card-border-color !important;
        outline-color: $card-border-color !important;
    }

    .due-date {
        margin-bottom: 0;
    }
}
