#sidebar-wrapper {
    height: 100vh;
    transition: margin 0.25s ease-out;
    z-index: 100;
    left: -15rem;
    top: 0;
    margin-left: -15rem;
    position: sticky;

    @media (min-width: 768px) {
        position: sticky;
        display: table;
        margin-left: 0;

        .sidebar-footer {
            left: 0;
            margin-left: 0;
        }
    }

    &.openMobile {
        display: block;
        margin-left: 0;

        .sidebar-footer {
            left: 0;
            margin-left: 0;
        }
    }

    .sidebar-heading {
        padding: 15px 1.25rem;
        height: 64px;
        font-size: 1.2rem;
        background-color: darken($dark, 10%);
        margin-bottom: 20px;

        .logo {
            max-height: 30px;
        }

        a {
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .sidebar-footer {
        transition: margin 0.25s ease-out;
        color: $dark-text;
        text-align: center;
        display: grid;
        position: absolute;
        bottom: 20px;
        right: calc(100% - 15rem);
        left: 0;
        margin-left: -22rem;
        font-size: 90%;

        a {
            color: $dark-text;

            &:hover {
                color: $white;
            }
        }
    }

    .nav {
        .nav-link {
            width: 15rem;
            color: $dark-text;
            padding: 1.125rem 1rem;
            transition: all 0.15s ease;

            &:hover,
            &.active {
                color: $white;
                background-color: darken($dark, 10%);
            }

            svg {
                width: 20px;
                margin-right: 15px;
            }
        }
    }
}
