#sidebar-wrapper {
    min-height: 100vh;
    transition: margin 0.25s ease-out;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    display: none;

    @media (min-width: 768px) {
        position: sticky;
        display: table;
    }

    &.openMobile {
        display: block;
    }

    .sidebar-heading {
        padding: 1.125rem 1.25rem;
        font-size: 1.2rem;
        background-color: darken($dark, 10%);
        margin-bottom: 20px;
        
        a {
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav {
        .nav-link {
            width: 15rem;
            color: $dark-text;
            padding: 1.125rem 1rem;
            transition: all .15s ease;

            &:hover,
            &.active {
                color: $white;
                background-color: darken($dark, 10%);
            }

            svg {
                width: 20px;
                margin-right: 15px;
            }
        }
    }
}
